
html {
    scroll-behavior: smooth;
}


.hero-section {
    background: linear-gradient(to right, red, orange);
    position: relative;
    overflow: hidden;
}


.card {
    transition: transform 0.3s ease;
}

.card:hover {
    transform: translateY(-5px);
}

.language-switcher .btn {
    padding: 0.375rem 0.75rem;
    font-size: 0.875rem;
}


section {
    padding: 6rem 0;
}


body.dark-mode {
    background-color: #333;
    color: white;
}

body.light-mode {
    background-color: #ffffff;
    color: black;
}
